html, body {
    padding: 0;
    margin: 0;
}


/* Barre de nav*/

nav {
    background-color: #212121;
    position: absolute;
    width: 100%;
}

.menu-1 {
    padding-top: 20px;
}

ul {
    padding: 0;
    margin-top: 0;
    margin-right: 22px;
    padding-top: 10px;
    padding-bottom: 3px;
    margin-bottom: 0px;
    text-align: center;
}

li {
    display: inline;
    ;
    margin-left: 30px;
    margin-bottom: 65px;
}

a {
    margin-top: 30px;
    color: white;
    text-decoration: none;
    font-size: 23px;
    font-family: 'News Cycle', sans-serif;
}

a:hover {
    color: orange;
}


/* Image en dessous de la nav*/

.background {
    background-image: url(robot3.jpg);
    background-size: cover;
    height: 950px;
}


/* Burger menu */

.mobile {
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
}

.link-a {
    display: none;
}

@media screen and (min-width: 701px) and (max-width: 1100px) {
    .mobile-link {
        display: block;
        background: rgba(0, 0, 0, 0.7);
        z-index: 10000;
        font-size: 71px;
        text-align: center;
        color: white;
        font-family: 'Amiri';
        font-weight: bold;
    }
}

@media screen and (min-width: 701px) and (max-width: 1100px) {
    .mobile {
        display: block;
        height: 10vh;
        z-index: 1
    }
    .desktop {
        display: none;
    }
    button {
        position: absolute;
        top: 15px;
        right: 30px;
        border: 0;
        text-indent: 200%;
        overflow: hidden;
        background: rgba(255, 255, 255, .8) url(burger.png) center no-repeat;
        border: 1px solid #ddd;
        border-radius: 3px;
        background-size: 90%;
        width: 71px;
        height: 71px;
        outline: none;
        transition: all 400ms ease;
    }
    .expanded {
        transform: rotate(90deg);
        background-color: transparent;
        border: 0;
    }
    a {
        display: block;
    }
    .no-marge-mobile {
        padding-left: 0px;
    }
}

@media screen and (min-width: 200px) and (max-width: 700px) {
    .mobile {
        display: block;
        height: 10vh;
        z-index: 1
    }
    .desktop {
        display: none;
    }
    button {
        position: absolute;
        top: 15px;
        right: 30px;
        border: 0;
        text-indent: 200%;
        overflow: hidden;
        background: rgba(255, 255, 255, .8) url(burger.png) center no-repeat;
        border: 1px solid #ddd;
        border-radius: 3px;
        background-size: 90%;
        width: 40px;
        height: 40px;
        outline: none;
        transition: all 400ms ease;
    }
    .expanded {
        transform: rotate(90deg);
        background-color: transparent;
        border: 0;
    }
    a {
        display: block;
    }
    .no-marge-mobile {
        padding-left: 0px;
    }
}

@media screen and (min-width: 1100px) and (max-width: 1200px) {
    li {
        display: inline-block;
        float: right;
        margin: 0px 50px 0px 0px;
    }
}


/*Fin burger menu*/


/* MEDIA QUERIES*/

@media screen and (min-width: 480px) and (max-width: 900px) {
    .background {
        background-position-x: -493px;
        height: 901px;
    }
}

@media screen and (min-width: 200px) and (max-width: 479px) {
    .background {
        background-position-x: -484px;
        height: 758px;
    }
}

@media screen and (min-width: 451px) and (max-width: 600px) {
    .mobile-link {
        display: block;
        background: rgba(0, 0, 0, 0.7);
        z-index: 10000;
        font-size: 67px;
        text-align: center;
        color: white;
        font-family: 'Amiri';
        font-weight: bold;
    }
}

@media screen and (min-width: 251px) and (max-width: 450px) {
    .mobile-link {
        display: block;
        background: rgba(0, 0, 0, 0.7);
        z-index: 10000;
        font-size: 37px;
        text-align: center;
        color: white;
        font-family: 'Amiri';
        font-weight: bold;
    }
}


/*iphone 5 */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) {
    .background {
        background-position-x: -424px;
        height: 661px;
    }
}
