body {
    margin: 0;
    background-image: url(image/the-matrix-movie-code-1920x1200.png);
    background-size: cover;
}


/*MENU*/

.menu {
    margin: auto;
    background-color: #000;
    margin-bottom: 40px;
    width: auto;
    height: auto;
    display: flex;
}

.flexmenu {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.item {
    text-decoration: none;
    color: #Fff;
    font-size: 2.5vw;
    font-family: norm;
    text-align: center;
    display: inline-block;
}

.item:hover {
    font-family: hacked;
}

li {
    padding-left: 1vw;
    padding-right: 1vw;
    width: auto;
    height: auto;
}

li:hover {
    background-color: rgba(255, 4, 4, 0.91);
}


/*PAGE DE LA BD*/

.main {
    margin: 0 auto;
    width: 1200px;
    padding: 30px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    border-radius: 2px;
    background-image: url(image/blank_paper_texture_6_by_spidergypsy-d4g9tp2.jpg);
}


/*VIGNETTE DE LA BD*/

.vignette {
    border: 6px solid black;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 550px;
    height: 300px;

}

img {
    width: 550px;
    height: 300px;
}

.vignette.vignette3 {
    width: 750px;
    height: 350px;
    text-align: center;
    margin-left: 200px;
}

.vignette3_img {
    width: 750px;
    height: 350px;
}


/* BULLE DE DIALOGUE */

.bulle.one {
    position: relative;
    z-index: 1;
}

.bulle_img.one {
    position: absolute;
    left: 250px;
		top: -70px;
    width: 225px;
    height: 160px;
    z-index: 2;
}

.bulle_p.one {
    position: absolute;
    left: 290px;
		top: -50px;
    font-family: ComicBook;
    font-size: 26px;
    z-index: 3;
    color: darkblue;
}

.bulle.two {
    position: relative;
    z-index: 1;
}

.bulle_img.two {
    position: absolute;
    left: 400px;
    top: -35px;
    width: 225px;
    height: 160px;
    z-index: 2;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.bulle_p.two {
    position: absolute;
    left: 430px;
    top: -25px;
    font-family: ComicBook;
    font-size: 24px;
    z-index: 3;
    color: darkblue;
}


/*notif_mail animation*/

.notif_mail p {
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    color: white;
    z-index: 5;
    width: 10%;
    border-radius: 10px;
    padding: 1.5px;
    position: absolute;
    animation-name: notif;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-duration: 1.5s;
}

@keyframes notif {
    0%, 20%, 40%, 60%, 80%, 100% {
        transform: translateY(-20);
    }
    50% {
        transform: translateY(10px);
    }
}


/* FOOTER */

footer {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.page_footer a {
    font-family: norm;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.page_footer a:hover {
    font-family: hacked;
}

.page_footer {
    width: auto;
    height: auto;
    display: inline-block;
    margin: 4px;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 15px;
    border-radius: 10px;
    font-size: 2.5vw;
    text-transform: uppercase;
}

.page_footer.tuesday a {
    color: red;
}


/*TYPO*/


/*TYPO MENU:hover*/

@font-face {
    font-family: 'hacked';
    src: url('typo/HACKED.ttf');
}


/*TYPO MENU*/

@font-face {
    font-family: 'norm';
    src: url('typo/BebasNeue.otf');
}


/*TYPO BULLE*/

@font-face {
    font-family: 'bulle';
    src: url('#');
}

/*TYPO BULLE*/

@font-face {
    font-family: 'ComicBook';
    src: url('typo/ComicBook.otf');
}



/*GESTION DU FORMAT D'ECRANT*/

@media screen and (max-width: 800px) {
    .main {
        height: 650px;
        width: 650px;
    }
}

@media screen and (max-width: 700px) {
    .main {
        height: 550px;
        width: 550px;
    }
    .item {
        font-size: 30px;
    }
}

@media screen and (max-width: 600px) {
    .main {
        height: auto;
        width: 95vw;
        justify-content: center;
        align-item: center;
    }
    .item {
        font-size: 25px;
    }
    .page_footer {
        display: none;
    }
    .vignette {
        width: 95%;
        margin-bottom: 5%;
    }
}
